.searchWeather{
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(15px);
  padding: 2rem 1rem 0 2rem;
}

.listCities{
  list-style: none;
  padding: 0;
  margin: 30px 0 0 0;
  &Item{
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    margin: 0 0 1rem 0;
    text-decoration: underline;
  }
}

.iconWrap{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
  width: 250px;
  height: 250px;
}

.searchCity{
  display: flex;
  justify-content: space-between;
  &Input{
    max-width: calc(100% - 50px);
    height: 40px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255,255,255, .5);
    font-size: 1.5rem;
    color: #fff;
    font-weight: 100;
    &:focus{
      outline: none;
    }
  }
  &Button{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255,255,255, .5);
    background: url('/img/loupe.svg') no-repeat center;
    background-size: 60%;
    outline: none;
    cursor: pointer;
  }
}

@media (max-width: 692px){
  .searchWeather{
    max-width: 320px;
    width: 100%;
    backdrop-filter: none;
    box-sizing: border-box;
  }
}
