body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('img/air-balloon.jpg');
}
input{margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
p{margin: 0;padding: 0;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: grid;
  grid-template-areas: 'weather navbar';
  grid-template-columns: auto 400px;
  height: 100vh;
}
@media (max-width: 1024px){
  .App{
    grid-template-columns: auto 300px;
  }
}
@media (max-width: 692px){
  .App{
    grid-template-columns: auto;
    grid-template-rows: min-content;
    grid-template-areas: 'weather'
                          'navbar';
  }
}
