body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('/src/img/air-balloon.jpg') no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: grid;
  grid-template-areas: 'weather navbar';
  grid-template-columns: auto 400px;
  height: 100vh;
}
.weather{
  grid-area: weather;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.city-list{
  grid-area: navbar;
  padding: 0;
  margin: 0;
  backdrop-filter: blur(15px);
  list-style: none;
}